<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="/css/detalle-producto.css" rel="stylesheet">
    <script src="https://kit.fontawesome.com/e913f300ec.js" crossorigin="anonymous"></script>
    <title>Detalle Producto</title>
</head>

<body>

    <%- include("../partials/header-datalle.ejs") %> 
    
        <main class=>

            <div class="padre-cajas main-principal">
                <img class="jack-daniels" width='200' height='350' src="<%=productoDetallado.imagen%>"></img>
                <div class="caja1">
                    <div>Nuevo</div>
                    <h2><%= productoDetallado.nombre %></h2>
                    <h3><%= productoDetallado.descripcion %></h3>
                    <del>$<%= productoDetallado.precio %></del>
                    <div class="padre-precio">
                        <div id="precio">
                        <h2 class="precio">$<%=( ( (100-productoDetallado.descuento) * productoDetallado.precio ) / 100  )%></h2> <span class="off"><%= productoDetallado.descuento %>% OFF</span>
                        </div>
                    </div>
                 <!-- <div>
                        <label>Cantidad</label></label>
                        <input class="cantidades" type="number" value="0">
                    </div> -->
                    <!-- <a href="../carrito-cargado"> -->
                        <button class="al-carrito" id="al-carrito" data-id="<%= productoDetallado.id %>" data-nombre="<%= productoDetallado.nombre%>" data-precio="<%=( ( (100-productoDetallado.descuento) * productoDetallado.precio ) / 100  )%>" data-imagen="<%=productoDetallado.imagen%>" >Agregar Al Carrito</button>
                    <!-- </a> -->
                    <span class="cuotas"> En 12x $ <%= productoDetallado.precio / 12 %></span>
                    <span class="litro">El precio por litro es $ 13.440</span>
                    <a href="#medios-pago" class="pago">Ver los medios de pago</a>
                    <div>Volumen: 750 mL</div>
                    <div class="botones-ml">
                        <input type="button" value="200 mL">
                        <input type="button" value="500 mL">
                        <input type="button" value="750 mL">
                    </div>
                                    
                </div>
           
            </div>
   


        
        </main>
       
        <footer>

            <%- include("../partials/footer.ejs") %>

        </footer>

        <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
        <script src="/js/comprar.js"></script>

</body>

</html>